html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
    display: block;
}

a img {
    border: 0;
}

figure {
    position: relative;
}

figure img {
    width: 100%;
}

body {
    background: #333;
    color: #fff;
    overflow-x: hidden;
    background: -moz-radial-gradient(center center 45deg, circle cover, #333 23%, #222 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 600, from(#333), to(#222));
}

h1 a {
    font-family: 'Josefin Sans Std Light', arial, serif;
    font-weight: 100;
    font-size: 2em;
    display: block;
    margin: 50px 0px 25px 0px;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.8);
    color: #a3c0cc;
    text-decoration: none;
}

#wrapper {
/*    width: 900px;*/
/*    margin: 0px auto;*/
    text-align: center;
    position: relative;
}

#csshere {
    background: url(../images/yourcsshere.png);
    width: 147px;
    height: 87px;
    position: relative;
    bottom: -35px;
    left: -177px;
    z-index: 20;
}

.box {
    display: block;
    width: 120%;
    position: relative;
    left: -100px;
    background-color: #222;
    -webkit-box-shadow: inset rgba(0,0,0,1) 0px 0px 50px;
    -moz-box-shadow:    inset rgba(0,0,0,1) 0px 0px 30px;
    box-shadow:         inset rgba(0,0,0,1) 0px 0px 50px;
    background: -moz-radial-gradient(center center 45deg, circle cover, #333 23%, #222 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 500, from(#333), to(#222));
}

.wrapper {
    width: 335px;
    margin: 0px auto;
    height: 0px;
}

.box > .CodeRay {
    width: 550px;
    margin: 25px auto;
    padding: 25px 0px;
}

textarea {
    width: 335px;
    min-height: 300px;
    background: transparent;
    border-width: 0px;
    color: #AAA;
    font-size: 0.8em;
    resize: none;
    outline: none;
    margin: 25px auto;
}

.awesome {
    background: #222 url(../images/overlay.png) repeat-x;
    display: inline-block;
    padding: 10px 24px 12px;
    margin: 50px 0px;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-width: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.CodeRay {
  font-family: "Bitstream Vera Sans Mono", 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  overflow: auto;
  font-size: 12px;
  text-align: left;;
/*  background: #2B2B2B;*/
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */