<% form_tag('/parser/create') do |f| -%>
  <% if @css.present? %>
    <div class="box">
      <%= raw(CodeRay.scan(@css, :css).div(:css => :class)) %>
    </div>
  <% end %>
  <p class="box">
    <%= text_area_tag 'css', @css, :rows => @rows %>
  </p>
  <p>
    <%= submit_tag "Beautify!", :class => "awesome" %>
  </p>
<% end -%>

